.button {
  padding: 12px 24px;
  background: var(--primary);
  border-radius: 24px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    border-color: var(--primary);
    background: transparent;
    color: var(--primary);
  }

  &--disabled {
    background: var(--primary--hover);
    cursor: not-allowed;

    &:hover {
      background: var(--primary--hover);
      color: white;
      border-color: var(--primary--hover);
    }
  }
}
